.onlineApp {
    text-align: center;
    background-color: lightblue;
    color: white;
    text-shadow: 2px 2px 4px 0.5;

}

.reg {
    margin-left: 10px;
    border: 1px solid black;
    background-color: sandybrown;
    text-align: center;

}

.iit {
    color: red;
    margin-left: 120px;

}

h2::first-letter {
    color: navy;
    font-size: 50px;
}

.main {
    margin-left: 10px;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgb(95, 93, 93);
}

#img-1 {
    margin-left: 20px;
}

.note {
    border: 1px solid black;
    background-color: sandybrown;
    padding-left: 20px;
}

.documents {
    width: 120;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgb(95, 93, 93);
    color: black;
    line-height: 15px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 10px;
}